<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>{{ question.title }}</p>
    <p>{{ question.body|safe }}</p>

    <a href="{% url 'add_answer' question.slug %}">Add answer</a>

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add answer</button>
    </form>

    {% if answer %}
        {% for a in answer   %}
            <p>{{ a.user }}</p>
            <p>{{ a.answer }}</p>
            <p>{{ a.created_at }}</p>
        {% endfor %}
    {% endif %}



</body>

</html>