{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Overflow</title>
    {{ form.media }}
<link rel="stylesheet" href="{% static 'questions/css/style.css' %}">

</head>
<body>

    <style>

    </style>
    

    <header class="header">
        <div class="container">

            <div class="header__inner">
                <a class="header__logo" href="{% url 'index' %}">Stack overflow</a>
                <form action=".">
                <input class="header__input" type="text" placeholder="search...">
                </form>
            <nav class="nav">
                {% if request.user.is_authenticated %}
                    <a class="nav__link" href="{% url 'profile' user.username %}">{{ user.username }}</a>
                    <a class="nav__link" href="{% url 'profile' user.username %}">Change</a>
                    {% else %}
                        <a class="nav__link" href="#">Log in</a>
                        <a class="nav__link" href="#">Sign in</a>
                {% endif %}

            </nav>
        </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="container">
                <div class="content__inner">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>
