{% extends 'base.html' %}

{% block main %}

<div class="profile">
    <div class="container">

        <a class="link_profile" href="{% url 'profile' user.username %}">
            <img class="images" src="{{ user.image.url }}" alt="">
        </a>
        <a class="profilename" href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a>

        <a class="user_name" href="{% url 'edit_profile' user.username %}">Edit profile</a>


        <div class="profile_inner">
            <h1>Answer</h1>

            <div class="profile_item">

                <div class="profile_q">
                    {% for a in answers %}
                    <a class="profile_link" href="{% url 'quest_detail' a.question.slug %}">{{a.question.title}}</a>
                    {% endfor %}
                </div>
            </div>

            <h1>Questions</h1>

            <div class="profile_q">
                <div class="profile_item">

                {% for q in questions %}
                <a class="profile_link" href="{% url 'quest_detail' q.slug %}">
                    <p>{{ q.title }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}